* {
    font-family: 'Merienda',
        cursive;
}

.h-font {
    font-family: 'Poppins',
        sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg {
    background-color: #2ec1ac;
    border: 1px solid #2ec1ac;
}

.custom-bg:hover {
    background-color: #279e8c;
}